@import url("https://fonts.googleapis.com/css2?family=Gluten&display=swap");

.container {
  max-width: 1080px;
  margin: 20px auto;
}

h1,
h2 {
  text-align: center;
  color: #333;
  font-family: "Gluten", cursive;
}
